{% extends 'tenant/base_tenant.html' %}
{% load static %}

{% block title %}My Profile - Tenant Portal{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-4 mb-4">
            {% include 'tenant/sidebar.html' %}
        </div>
        
        <div class="col-lg-9 col-md-8">
            <h2 class="mb-4"><i class="fas fa-user-cog me-2"></i>My Profile</h2>
            
            <div class="tenant-card">
                <form method="POST">
                    {% csrf_token %}
                    
                    <h5 class="mb-3">Personal Information</h5>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="first_name" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            <label for="last_name" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            <label for="phone" class="form-label">Phone Number</label>
                            <input type="tel" class="form-control" id="phone" name="phone" value="{{ tenant.phone }}">
                        </div>
                    </div>
                    
                    <hr class="my-4">
                    
                    <h5 class="mb-3">Emergency Contact</h5>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="emergency_contact" class="form-label">Contact Name</label>
                            <input type="text" class="form-control" id="emergency_contact" name="emergency_contact" value="{{ tenant.emergency_contact }}">
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            <label for="emergency_phone" class="form-label">Contact Phone</label>
                            <input type="tel" class="form-control" id="emergency_phone" name="emergency_phone" value="{{ tenant.emergency_phone }}">
                        </div>
                    </div>
                    
                    <hr class="my-4">
                    
                    <h5 class="mb-3">Employment Information</h5>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="occupation" class="form-label">Occupation</label>
                            <input type="text" class="form-control" id="occupation" name="occupation" value="{{ tenant.occupation }}">
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            <label for="employer" class="form-label">Employer</label>
                            <input type="text" class="form-control" id="employer" name="employer" value="{{ tenant.employer }}">
                        </div>
                    </div>
                    
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="fas fa-save me-2"></i>Save Changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

